body {
    margin: 0;
    padding: 0;
    background-image: url('注音小學堂\ 教學影片頁面.png'); /* 替換為圖片的實際路徑 */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    border: none;
}